# virtual env
env/*
__pycache__/*

# File that is actually uploaded to elastic beanstalk
*.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Credential files
aws_access_key.txt
aws_secret_key.txt
rds_config.py

# Large files
*.zip
*.DS_Store
