# virtual env
venv/*
__pycache__/*
*.DS_Store

# File that is actually uploaded to elastic beanstalk
*.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Credential files
rds_config.py
aws_config.py


